@import url('https://fonts.googleapis.com/css2?family=Allura&family=DM+Serif+Display:ital@0;1&family=Great+Vibes&family=League+Spartan:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "League Spartan", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body,
html {
  overflow-x: hidden;
}




@font-face {
  font-family: "PhotographSignature";
  src: url("/fonts/FzPhotograph.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "VIPPerfectSignature";
  src: url("/fonts/Perfect-Signature.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


.font-perfect {
  font-family: "VIPPerfectSignature", sans-serif;
}

.font-photograph {
  font-family: "PhotographSignature", sans-serif;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
}

.font-photograph-no-shadown {
  font-family: "PhotographSignature", sans-serif;
}

.font-sriracha {
  font-family: "Sriracha", cursive;
}

.font-rajdhani {
  font-family: "Rajdhani", sans-serif;
}




/* Font viết Hoa */
.font-great-vibes {
  font-family: "Great Vibes", cursive;
}

.font-great-vibes2 {
  font-family: 'Great Vibes', cursive;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
}

.font-dm-serif-display {
  font-family: "DM Serif Display", serif;
}

.font-philosopher {
  font-family: "Philosopher", sans-serif;
  text-shadow: rgb(0, 0, 0) 1px 2px 3px;
}

.font-philosopher-noshadow {
  font-family: "Philosopher", sans-serif;
}

.font-oswald {
  font-family: "Oswald", sans-serif;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}








@keyframes zoomEffect {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes smoothBlink {
  0% {
    color: white;
  }

  50% {
    color: #f62259;
  }

  100% {
    color: white;
  }
}

.smooth-blinking-text {
  animation: smoothBlink 1.5s infinite ease-in-out;
}

.zoom-text {
  display: inline-block;
  animation: zoomEffect 1.5s infinite ease-in-out;
}

.pulse {
  animation: zoomEffect 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pulse-rotate {
  0% {
    transform: scale(1) rotate(0deg);
  }

  50% {
    transform: scale(1.1) rotate(10deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

.rotate {
  animation: pulse-rotate 1s infinite ease-in-out;
}


.music-button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background: #ff4081;
  color: white;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  left: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: pulse 1.5s infinite ease-in-out;
  transition: background 0.3s ease;
}

/* Khi nhạc đang phát */
.music-button.playing {
  background: #4caf50;
}

/* Ẩn icon */
.hidden {
  display: none;
}

#scrollTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: yellow;
  color: #000;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  transition: opacity 0.3s;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
}

#scrollTopBtn:hover {
  background-color: #0056b3;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-18px);
  }

  50% {
    transform: translateX(10px);
  }

  75% {
    transform: translateX(-8px);
  }

  100% {
    transform: translateX(0);
  }
}

.shake {
  display: inline-block;
  animation: shake 0.5s ease-in-out infinite;
  animation-delay: 2s;
}